{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "import/extensions": [2, "never", { "json": "always" }],
    "no-duplicate-imports": 0,
    "no-underscore-dangle": 0,
    "react/forbid-prop-types": 0,
    "import/no-unresolved": 0,
    "import/export": 2,
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true,
      }
    ],
    "import/order": [
      2,
      {
        "newlines-between": "always"
      }
    ],
    "import/imports-first": 2,
    "flowtype/define-flow-type": 1,
    "flowtype/use-flow-type": 1,
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
      1,
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/space-after-type-colon": [
      1,
      "always"
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$"
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/sort-comp": [
      2, {
         order: [
          'static-methods',
          '/props/',
          '/state/',
          'lifecycle',
          'everything-else',
          'render'
         ]
      }
    ]
  },
  "globals": { "fetch": false },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    },
    "import/core-modules": [
      "Dimensions",
      "ErrorUtils"
    ]
  },
  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ]
}
